<%= form_with(model: arriendo, local: true) do |form| %>
  <% if arriendo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arriendo.errors.count, "error") %> prohibited this arriendo from being saved:</h2>

      <ul>
      <% arriendo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id %>
  </div>

  <div class="field">
    <%= form.label :serie_id %>
    <%= form.text_field :serie_id %>
  </div>

  <div class="field">
    <%= form.label :pelicula_id %>
    <%= form.text_field :pelicula_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>