<%= form_with(model: arriendo, local: true) do |form| %>
  <% if arriendo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arriendo.errors.count, "error") %> prohibited this arriendo from being saved:</h2>

      <ul>
      <% arriendo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form">
    <label for="select_usuarios">Cliente</label>
    <%= select_tag "select_usuarios", options_from_collection_for_select(@usuarios, "id", "name"), :include_blank => true , class: "form-control form-control-lg"
     %>
 </div>
  <div class="form">
    <label for="select_peliculas">Peliculas</label>
    <%= select_tag "select_peliculas", options_from_collection_for_select(@peliculas, "id", "titulo"), :include_blank => true , class: "form-control form-control-lg"%>
  </div>

  <div class="form">
    <label for="select_series">Series</label>
    <%= select_tag "select_series", options_from_collection_for_select(@series, "id", "titulo"), :include_blank => true , class: "form-control form-control-lg" %>
  </div>

  <%= form.hidden_field :usuario_id %>
  <%= form.hidden_field :serie_id %>
  <%= form.hidden_field :pelicula_id %>

  <div class="form">
    <%= form.submit 'Update' , :class => 'btn btn-dark btn-lg btn-block'  %>
  </div>
<% end %>

<script>
$(document).ready(function() {
    $('#select_usuarios').val('<%= @arriendo.usuario_id %>'); 
    $('#select_peliculas').change(); 
    if (<%= @arriendo.serie.blank? %>){
      $('#select_peliculas').val('<%= @arriendo.pelicula_id %>'); 
      $('#select_peliculas').change(); 
    }
    else{
      $('#select_series').val('<%= @arriendo.serie_id %>'); 
      $('#select_series').change(); 
    }


     $("#select_usuarios").change(function(){
      var valor = $(this). val();
      $('#arriendo_usuario_id').val(valor);
    });

    $("#select_peliculas").change(function(){
      var valor = $(this). val();
      $('#arriendo_pelicula_id').val(valor);
      if (valor != null) {
        $('#select_series').val('defaultValue'); 
        $('#select_series').change(); 
      }
    });

    $("#select_series").change(function(){
      var valor = $(this). val();
      $('#arriendo_serie_id').val(valor);
      if (valor != null) {
        $('#select_peliculas').val('defaultValue'); 
        $('#select_peliculas').change(); 
      }
    });
})
</script>